.game-board{
    margin: 50px;
    display: grid;
    grid-template-columns:  repeat(3, 100px);
    grid-template-rows:  repeat(3, 100px);
}
.square{
    border: 1px solid grey;
    display: flex;
    justify-content: center;
    align-items: center;
}